<article id="<%= post.layout %>-<%= post.slug %>" class="article">
  <% if (post.link || post.title){ %>
    <header class="article__header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
    </header>
  <% } %>
  <div class="article__body">
    <%- post.content %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
